body{
    margin: 0px;
}
.foot{
    box-shadow: 0px 5px 10px slategray;
    background-color: rgb(34, 34, 34);
    padding: 17px 0px;
    width: 100%;
}
.p__header{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
header{
    display: flex;
    height: 100px;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: 0 100px;
    background-color: rgb(34, 34, 34);
}
.header__a{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.what{
    display: flex;
    text-align: center;
    margin-top: 15px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.a1{
    padding: 30px 30px;
    text-align: center;
    background-color: rgb(34, 34, 34);
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    color: white;
    transition: all 1s ease;
}
.a1:link,.a1:visited{
    display: inline-block;
    background-color: rgb(34, 34, 34);
    border-radius: 50px;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    /*
 box-shadow: 2px 2px 5px #000000, -2px -2px 5px #585858,
    inset -2px -2px 4px #353535, inset 2px 2px 4px #000000;
*/
}
.a1:hover{
    color: rgb(0, 20, 56);
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    transform: scale(1.1);
    border-radius: 30px;
    padding: 28px 28px;
    box-sizing: 10px;
    border: 3px rgb(46, 46, 46) solid;
}
.a1:active{
    transition: 1ms ease;
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    transform: scale(1.4);
}
.boom{
    padding: 0px 1px;
    margin: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 5%;
    animation-name: blackb;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes blackb{
    0%{
        left: 0px;
        border-radius: 3px;
    }
    100%{
        left: 400px;
        margin-left: 0px;
        width: 100%;
    }
}
p{
    color:black ;
    font-family: cursive;
}
.osn{
    width: 1000px;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 5px 10px slategray;
    margin-bottom: 60px;
}
.sek__v{
    margin-left: 30px;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Sourse Sans Pro", sans-serif;
}
h1{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 40px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
}
.sek__v__p{
    margin-left: 17px;
    margin-top: 0px;
    font-family: cursive;
}
.one{
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-bottom: 40px;
    width: 90%;
    background-color: rgb(231, 231, 231);
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px gray,
    inset -2px -2px 1px 1px rgb(112, 112, 112);
}
.one__img{
    width: 70%;
}
.opo{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgb(255, 232, 210);
    margin-top: 0px;
}
.Q1{
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
}
.Q2{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 14px;
}
.shagi{
    text-decoration: none;
}
h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.pred{
    margin-left: 3%;
    width: 900px;
}
.pred__a{
    text-decoration: none;
    padding: 1px 5px;
    color: rgb(76, 0, 138);
    text-decoration-color: coral;
    transition: 0.7s ease;
    transform: scale(2 1);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
.pred__a:link,.pred__a:visited{
    display: inline-block;
    background-color: white;
    border-radius: 70px;
}
.pred__a:hover{
    color: rgb(0, 20, 56);
    background-color: rgb(122, 219, 219);
    border-radius: 5px;
}
.pred__a:active{
    transition: all 0.01s ease;
    background-color: rgb(55, 202, 202);
    padding: 4px 10px;
}
h4{
    margin-bottom: 15px;
}
h5{
    margin-left: 30px;  
    font-size: 25px;
}
h6{
    margin: 30px 0px 0px 30px;
    font-size: 25px;
}
p{
    margin: 10px 0px 10px 0px;
}
ul{
    margin-top: 0px;
}
.ins__h3{   
    color: rgb(48, 48, 48);
    font-family: "Sourse Sans Pro", sans-serif;
}
.ins__p{
    font-size: 16px;
}
.down{
    box-shadow: 0px 5px 10px grey;
    border-radius: 5px;
    width: 525px;
    padding: 10px 15px 10px 15px;
    margin-left: 25%;
    margin-top: 60px;
}
.down__h3{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(48, 48, 48);
}
.down__img{
    width: 70%;
    padding-left: 83px;
    border-radius: 3px;
}
.shagi{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
    gap: 60px 165px;
    margin-left: 30px;
}
.shag{
    display: flex;
    width: 899px;
    flex-wrap: wrap;
}
.ins__img{
    width: 100%;
    border-radius: 3px;
}
.ins{
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    width: 320px;
    padding: 10px 15px 10px 15px;
    
}
.Q3{
    margin: 0px 0px 30px 30px;
    font-size: 14px;
}
.rec{
    margin-left: 10px;
    margin-bottom: 30px;
}
.rec__z{
    font-size: 20px;
    margin-left: 20px;
}
.rec__li{
    text-decoration: solid;
    font-family: monospace;
    font-size: 17px;

}
.line{
    width: 100%;
    background-color: black;
    height: 2px;
    border-radius: 10%;
}
.R1{
    width: 330px;
    padding: 10px 15px 10px 15px;
    box-shadow:  0px 5px 10px gray;
    border-radius: 5%;
}
.R0{
    margin: 10px 140px 10px 30px;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}
.prot__h3{
    padding: 10px 10px;
    font-size: 50px;
}
.prot__div1{
width: 300px;
display: flex;
flex-wrap: wrap;
background-color: violet;
border-radius: 5%;
margin-bottom: 30px;
}
.prot__img{
    margin-left: 24%;
    margin-bottom: 30px;
    width: 240px;
    display: flex;
    justify-content: center;
    border-radius: 5%;
}
.prot__p{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    font-family: cursive;
}
.prot__div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prot{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 10px;
    padding: 5px 50px;
}
.mark{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-bottom: 50px; 
}
.a2{
    transition: all 0.6s ease;
    width: 270px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px 10px grey;
    z-index: 1;
    border-radius: 9px;
    transform: translateY(9px);
    transition: all 0.5s ease-in-out;
}
.a2:hover{
   border: 1px solid #505050;
   box-shadow: 0px;
   border-radius: 5%;
   width: 271px;
}
.Badaboom::after {
    content: "Это продукт естественного брожения. При приготовлении Пермского чайного кваса не используются концентраты, синтетические стимуляторы и ускорители роста. В состав чайного кваса входят: настой чайного гриба, иван-чай, натуральный цветочный мёд, питьевая вода, обогащённая кремнием.";
    position: absolute;
    width: 200px;
    top: calc(100% - 18%);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(110, 109, 109);
    border-radius: 5%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    visibility: hidden;
    display: block;
}
.Badaboom{   
    color: rgb(11, 0, 49);
    text-decoration: none;
}
.Badaboom:hover::after{

   padding: 20px 10px;
   opacity: 1;
   visibility: visible;
   transform: translateY(-10px);
   transition: .3s linear;
   animation: odsoky 0.1s ease-in-out infinite  alternate;
}
@keyframes odsoky {
    0%{
      transform: translateY(60px);	
    }
  
    100%{
      transform: translateY(1px);
      background-color: rgb(240, 240, 240);	
    }
}
.mark__p{
    font-family: "Sourse Sans Pro", sans-serif;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}
.mark__img{
    margin-left: 3%;
    width: 94%;
    border-radius: 5px;
}
footer{
    height: 50px;
    width: 100%; 
    background-color: black;
}
.footer__p{
    display: flex;
    color: white;
    margin-left: 5%;
}
.footer__div{
    display: flex;
    align-items: center;
}
@media (max-width: 1040px) {
    .osn{
        width: 800px;
    }
    .ins{
        width: 258px;
    }
    .down{
        width: 440px;
        margin-left: 165px;
    }
    .R1{
        width: 315px;
    }
    h6{
        margin-top: 80px;
    }
    .Q3{
    margin-bottom: 50px;
    }
}
@media (max-width: 840px) {
    .osn{
        width: 600px;
    }
    .shagi{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        gap: 60px 0px;
    }
    .shag{
        display: flex;
        justify-content: center;
width: 600px;
        flex-wrap: wrap;
    }
    .down{
        width: 400px;
        margin-left: 0px;
    }
    .ins{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .down__img{
        padding-left: 64px;
    }
    .R0{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        gap: 60px 0px; 
        margin: 0px 0px 100px 0px;
    }
}
@media (max-width: 360px){
    .osn{
        width: 340px;
        margin: 40px 0px 40px 0px;
    }
    .ins{
        width: 250px;
        margin-left: -8px;
    }
    .shag{
        width: 350px;
    }
    .down{
        width: 280px;
        margin-right: 11px;
    }
    .down__img{
        padding-left: 30px;
        width: 80%;
    }
    .R1{
        width: 280px;
    }
    .one{
        width: 95%;
    }
    .sek__v{
        margin-left: 3%;
    }
    .a1{
        width: 30px;
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
    }
    .header__a{
        display: flex;
        flex-wrap: wrap;
    }

}