body{
    margin: 0px;
}
.div__header{
    background-color: black;
    width: 100px 200px;
    background: rgb(0, 0, 0);
    padding: 3%;
    box-shadow: 0px 5px 10px dimgray;
    display: flex;
}
.p__header{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
header{
    width:100%;
    height: 50px;
}
p{
    color:black ;
    font-family: cursive;
}
.osn{
    width: 1000px;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
    border-radius: 3px;
    box-shadow: 0px 5px 10px slategray;
    margin-bottom: 60px;
}
.sek__v{
    margin-left: 30px;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Sourse Sans Pro", sans-serif;
}
h1{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 40px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
}
.sek__v__p{
    margin-left: 17px;
    margin-top: 0px;
    font-family: cursive;
}
.one{
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-bottom: 40px;
    width: 90%;
    background-color: rgb(231, 231, 231);
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px gray;
}
.one__img{
    width: 70%;
}
.opo{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgb(255, 232, 210);
    margin-top: 0px;
}
.Q1{
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
}
.Q2{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 14px;
}
.shagi{
    text-decoration: none;
}
h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.pred{
    margin-left: 3%;
}
h4{
    margin-bottom: 15px;
}
h5{
    margin-left: 30px;  
    font-size: 25px;
}
h6{
    margin: 30px 0px 0px 30px;
    font-size: 25px;
}
p{
    margin: 10px 0px 10px 0px;
}
ul{
    margin-top: 0px;
}
.ins__h3{   
    color: rgb(48, 48, 48);
    font-family: "Sourse Sans Pro", sans-serif;
}
.ins__p{
    font-size: 16px;
}
.down{
    box-shadow: 0px 5px 10px grey;
    border-radius: 5px;
    width: 525px;
    padding: 10px 15px 10px 15px;
    margin-left: 25%;
    margin-top: 60px;
}
.down__h3{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(48, 48, 48);
}
.down__img{
    width: 70%;
    padding-left: 83px;
    border-radius: 3px;
}
.shagi{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
    gap: 60px 165px;
    margin-left: 30px;
}
.shag{
    display: flex;
    width: 899px;
    flex-wrap: wrap;
}
.ins__img{
    width: 100%;
    border-radius: 3px;
}
.ins{
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    width: 320px;
    padding: 10px 15px 10px 15px;
}
.Q3{
    margin: 0px 0px 30px 30px;
    font-size: 14px;
}
.rec{
    margin-left: 10px;
    margin-bottom: 30px;
}
.rec__z{
    font-size: 20px;
    margin-left: 20px;
}
.rec__li{
    text-decoration: solid;
    font-family: monospace;
    font-size: 17px;

}
.line{
    width: 100%;
    background-color: black;
    height: 2px;
    border-radius: 10%;
}
.R1{
    width: 330px;
    padding: 10px 15px 10px 15px;
    box-shadow:  0px 5px 10px gray;
    border-radius: 5%;
}
.R0{
    margin: 10px 140px 10px 30px;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}
.prot__h3{
    padding: 10px 10px;
    font-size: 50px;
}
.prot__div1{
width: 300px;
display: flex;
flex-wrap: wrap;
background-color: violet;
border-radius: 5%;
margin-bottom: 30px;
}
.prot__img{
    margin-left: 24%;
    margin-bottom: 30px;
    width: 240px;
    display: flex;
    justify-content: center;
    border-radius: 5%;
}
.prot__p{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    font-family: cursive;
}
.prot__div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prot{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 10px;
    padding: 5px 50px;
}
footer{
    height: 50px;
width: 100%;
background-color: black;
}
.footer__p{
    display: flex;
    color: white;
    margin-left: 5%;
}
.footer__div{
    display: flex;
    align-items: center;
}
@media (max-width: 1040px) {
    .osn{
        width: 800px;
    }
    .ins{
        width: 258px;
    }
    .down{
        width: 440px;
        margin-left: 165px;
    }
    .R1{
        width: 315px;
    }
    h6{
        margin-top: 80px;
    }
    .Q3{
    margin-bottom: 50px;
    }
}
@media (max-width: 840px) {
    .osn{
        width: 600px;
    }
    .shagi{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        gap: 60px 0px;
    }
    .shag{
        display: flex;
        justify-content: center;
width: 600px;
        flex-wrap: wrap;
    }
    .down{
        width: 400px;
        margin-left: 0px;
    }
    .ins{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .down__img{
        padding-left: 64px;
    }
    .R0{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        gap: 60px 0px; 
        margin: 0px 0px 100px 0px;
    }
}
@media (max-width: 360px){
    .osn{
        width: 340px;
        margin: 40px 0px 40px 0px;
    }
    .ins{
        width: 250px;
        margin-left: -8px;
    }
    .shag{
        width: 350px;
    }
    .down{
        width: 280px;
        margin-right: 11px;
    }
    .down__img{
        padding-left: 30px;
        width: 80%;
    }
    .R1{
        width: 280px;
    }
    .one{
        width: 95%;
    }
    .sek__v{
        margin-left: 3%;
    }

}